*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  background: hsl(30, 38%, 92%);
}

.main {
  width: 85%;
  max-width: 600px;
  margin: 3em auto;
  background: #ffffff;
  border-radius: 1em;
  padding: 0;
}

.product {
  border-radius: 0.5rem;
  overflow: hidden;
}

.product__info {
  padding: 1.5rem;
}

.product__category {
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 4px;
  color: hsl(228, 12%, 48%);
}

.product__title {
  font-size: 1.8rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  line-height: 1;
  margin-block: 0.6rem;
}

.product__description {
  font-size: 0.8rem;
  color: hsl(228, 12%, 48%);
}

.price {
  margin-block: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price__current {
  display: inline-block;
  font-size: 1.8rem;
  margin-right: 0.5em;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.price__original {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 200;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background-color: hsl(158, 36%, 37%);
  color: #ffffff;
  transition: background 250ms ease-in;
  padding-block: 0.750em;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background: hsl(212, 21%, 14%);
}

.flex-grow {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.btn__cart {
  margin-right: 1rem;
}

@media (min-width: 650px) {
  body {
    display: grid;
    place-items: center;
    height: 100%;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product__info {
    padding: 2rem;
    display: grid;
  }

  .btn {
    padding-block: 0.1em;
  }
}
